.highlight{
    background-color: #ecf0f1 !important;
    border: none !important;
}
h1{
    color: #2c3e50;
}
.btn-primary:hover{
    background-color: #8e44ad !important;
}
.btn-primary{
    background-color: #9b59b6 !important;
    border-color: #8e44ad !important;
}

.btn-primary:disabled{
    background-color: #d78df5 !important;
    border-color: #8e44ad !important;
}